.tablero {
	background-color: #336699;
	width: 960px;
	height: 960px;
	border: 1px solid black;
	margin: 3px;
}
.tablero .row {
	position: relative;
	height: 120px;
}
.tablero .cell {
	position: relative;
	width: 120px;
	height: 120px;
}
.tablero .cell.light {
	background-color: #FFFFFF;
}
.tablero .cell.dark {
	background-color: #000000;
}